{% macro render_toc(items) %}
    <ul class="toc__list">
        {% for item in items %}
            <li>
                <a href="#{{ item.slug }}">{{ item.text }}</a>
                {% if item.children is defined and item.children|length > 0 %}
                    {{ _self.render_toc(item.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{# Usage example: #}
{{ _self.render_toc(toc) }}
