{% extends "layout/base.html.twig" %}

{% set page = 'Twig CS Fixer - Link & Fix Templates' %}

{% block content %}

    <section class="hero">
        <img src="/images/twig-cs-fixer-leaf.png" alt="Twig CS Fixer Logo" class="hero__shadow" loading="eager">
        <div class="hero__container">
            <div class="hero__media">
                <a href="/" class="hero__icon">
                    <img src="/images/twig-cs-fixer-leaf.png" alt="Twig CS Fixer Logo" class="hero__logo" loading="eager">
                </a>
            </div>
            <h1 class="hero__title">
                <svg class="hero__logotype" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3281 538">
                    <use href="#twig-cs-fixer-logo"></use>
                </svg>
                <span class="sr-only">Twig CS Fixer</span>
            </h1>
            <p class="hero__subtitle">Automatically format and fix your Twig templates with intelligent, customizable rules</p>
            <div class="hero__actions">
                <a href="/installation" class="button button--large button--primary">Install Now</a>
                <a href="/installation" class="button button--large button--secondary">Getting started</a>
            </div>
        </div>
    </section>

    {{ include('component/_code_demo.html.twig', {
        before: '@docs/code/syntax.before.twig',
        after: '@docs/code/syntax.after.twig',
    }) }}

    <section class="features" id="features">
        <div class="features__container page-container">
            <h2 class="section-title">Why Choose Twig CS Fixer</h2>
            <div class="features__grid">
                <div class="feature">
                    <div class="feature__icon">
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <path
                                d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"/>
                        </svg>
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <path
                                d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"/>
                        </svg>
                    </div>
                    <h3 class="feature__title">Highly Configurable</h3>
                    <p class="feature__description">Customize rules to match your team's coding standards and preferences.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon">
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/>
                        </svg>
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/>
                        </svg>
                    </div>
                    <h3 class="feature__title">Lightning Fast</h3>
                    <p class="feature__description">Optimized performance for quick processing of even large template collections.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon">
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <path d="M2 12h6"/>
                            <path d="M22 12h-6"/>
                            <path d="M12 2v6"/>
                            <path d="M12 22v-6"/>
                            <path d="M16 8l-4 4-4-4"/>
                            <path d="M8 16l4-4 4 4"/>
                        </svg>
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <path d="M2 12h6"/>
                            <path d="M22 12h-6"/>
                            <path d="M12 2v6"/>
                            <path d="M12 22v-6"/>
                            <path d="M16 8l-4 4-4-4"/>
                            <path d="M8 16l4-4 4 4"/>
                        </svg>
                    </div>
                    <h3 class="feature__title">Seamless Integration</h3>
                    <p class="feature__description">Works with your existing workflow, CI/CD pipelines, and editor extensions.</p>
                </div>

                <div class="feature">
                    <div class="feature__icon">
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="10"/>
                            <line x1="12" y1="8" x2="12" y2="12"/>
                            <line x1="12" y1="16" x2="12" y2="16"/>
                        </svg>
                        <svg width="48" height="48" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="10"/>
                            <line x1="12" y1="8" x2="12" y2="12"/>
                            <line x1="12" y1="16" x2="12" y2="16"/>
                        </svg>
                    </div>
                    <h3 class="feature__title">Helpful Error Reports</h3>
                    <p class="feature__description">Clear, actionable feedback to help fix template issues quickly.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="used-by" id="used-by">
        <div class="used-by__container page-container">
            <h2 class="section-title">Used by great projects</h2>
            <ul class="used-by__logos" aria-label="Projects using Twig CS Fixer">
                <li class="used-by__item">
                    <a class="used-by__link" href="https://github.com/phpDocumentor" target="_blank" rel="noreferrer noopener">
                        <img class="used-by__avatar" src="/images/logos/phpdocumentor.png" alt="phpDocumentor GitHub avatar" loading="lazy" width="96"
                             height="96">
                        <span class="used-by__name">phpDocumentor</span>
                    </a>
                </li>
                <li class="used-by__item">
                    <a class="used-by__link" href="https://github.com/PrestaShop" target="_blank" rel="noreferrer noopener">
                        <img class="used-by__avatar" src="/images/logos/prestashop.png" alt="PrestaShop GitHub avatar" loading="lazy" width="96" height="96">
                        <span class="used-by__name">PrestaShop</span>
                    </a>
                </li>
                <li class="used-by__item">
                    <a class="used-by__link" href="https://github.com/symfony/ux" target="_blank" rel="noreferrer noopener">
                        <img class="used-by__avatar" src="/images/logos/symfony-ux.png" alt="Symfony GitHub avatar" loading="lazy" width="96" height="96">
                        <span class="used-by__name">Symfony UX</span>
                    </a>
                </li>
                <li class="used-by__item">
                    <a class="used-by__link" href="https://github.com/twigphp" target="_blank" rel="noreferrer noopener">
                        <img class="used-by__avatar" src="/images/logos/twig.png" alt="Twig GitHub avatar" loading="lazy" width="96" height="96">
                        <span class="used-by__name">Twig</span>
                    </a>
                </li>
                <li class="used-by__item">
                    <a class="used-by__link" href="https://www.drupal.org" target="_blank" rel="noreferrer noopener">
                        <img class="used-by__avatar" src="/images/logos/drupal.png" alt="Drupal GitHub avatar" loading="lazy" width="96" height="96">
                        <span class="used-by__name">Drupal</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    {# Section "Prev / Next" #}
    {{ include('component/_prev_next.html.twig', {
        title: 'Ready to clean up your Twig templates?',
        text: 'Get started in minutes with simple installation and configuration',
        links: {
            '/installation': 'Installation Guide',
            '/examples': 'Examples',
        },
    }) }}

{% endblock %}
