{% extends "layout/base.html.twig" %}

{% block content %}

    <section class="page-header">
        <div class="page-header__container page-container">
            <h1 class="page-header__title">Usage</h1>
            <p class="page-header__subtitle">
                
            </p>
        </div>
    </section>
    
    
    
    
    

    {# Section "Prev / Next" #}
    {{ include('component/_prev_next.html.twig', {
        links: {
            '/installation': 'Installation Guide',
            '/examples': 'Examples',
        }
    }) }}
    
{% endblock %}
