{%if  user.active%}
  <h2>{{ user.name | upper }}</h2>
  <p>
    {{ 'Joined:'~user.joinedAt|date(format="Y-m-d") }}
  </p>


  {{ include('user/card.html.twig', {
     "id":user.id,
     "show":true,
  } ) }}
{%endif%}
